@import "tailwindcss";

@source "../views";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@theme {
  /* Begin: Fonts */
  --font-sans: 'Montserrat', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  /* End: Fonts */

  /* Begin: Colos */
  --color-background: #212121;
  --color-foreground: #dadada;
  /* End: Colos */
}

@layer base {
  /* Begin: Default styles */
  html, body {
    @apply text-foreground antialiased;
  }
  /* End: Default styles */

  /* Begin: Buttons */
  button {
    @apply cursor-pointer;
  }
  /* End: Buttons */
}

@layer utilities {
  /* Begin: Button Navigations */
  .btn-nav {
    @apply px-3 py-1 hover:bg-background/30 rounded-md;
  }
  /* End: Button Navigations */
}
